<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="yyj.project.twinspring.dao.BimDAO">
    <select id="getLayersByProject" parameterType="string" resultType="map">
        SELECT layer_id    AS "layerId",
               project_id  AS "projectId",
               layer_name  AS "layerName",
               color,
               visible,
               element_ids AS "elementIds",
               sort_order  AS "sortOrder"
        FROM bim_layer
        WHERE project_id = #{projectId}
        ORDER BY sort_order ASC, created_at ASC
    </select>
    <insert id="insertLayer" parameterType="map">
        INSERT INTO bim_layer (layer_id, project_id, layer_name, color, visible, element_ids, sort_order)
        VALUES (#{layerId}, #{projectId}, #{layerName}, #{color}, #{visible}, #{elementIds}, #{sortOrder})
    </insert>

    <update id="updateLayer" parameterType="map">
        UPDATE bim_layer
        SET layer_name  = #{layerName},
            color       = #{color},
            visible     = #{visible},
            element_ids = #{elementIds},
            sort_order  = #{sortOrder}
        WHERE layer_id = #{layerId}
    </update>

    <delete id="deleteLayer" parameterType="string">
        DELETE FROM bim_layer
        WHERE layer_id = #{layerId}
    </delete>

    <delete id="deleteLayersByProject" parameterType="string">
        DELETE FROM bim_layer
        WHERE project_id = #{projectId}
    </delete>


    <select id="getColorsByProject" parameterType="string" resultType="map">
        SELECT element_id AS "elementId",
               project_id AS "projectId",
               color
        FROM bim_element_color
        WHERE project_id = #{projectId}
    </select>

    <insert id="upsertColor" parameterType="map">
        INSERT INTO bim_element_color (element_id, project_id, color)
        VALUES (#{elementId}, #{projectId}, #{color})
        ON CONFLICT (element_id) DO UPDATE SET color = EXCLUDED.color
    </insert>

    <delete id="deleteColor" parameterType="string">
        DELETE FROM bim_element_color
        WHERE element_id = #{elementId}
    </delete>

    <delete id="deleteColorsByProject" parameterType="string">
        DELETE FROM bim_element_color
        WHERE project_id = #{projectId}
    </delete>

    <select id="getLinesByProject" parameterType="string" resultType="map">
        SELECT line_id       AS "lineId",
               project_id    AS "projectId",
               start_x       AS "startX",
               start_y       AS "startY",
               start_z       AS "startZ",
               end_x         AS "endX",
               end_y         AS "endY",
               end_z         AS "endZ",
               color,
               line_width    AS "lineWidth",
               points_json   AS "pointsJson",
               closed,
               shape_height  AS "shapeHeight",
               line_type     AS "lineType"
        FROM bim_line
        WHERE project_id = #{projectId}
        ORDER BY created_at ASC
    </select>

    <insert id="insertLine" parameterType="map">
        INSERT INTO bim_line (line_id, project_id, start_x, start_y, start_z,
                               end_x, end_y, end_z, color, line_width,
                               points_json, closed, shape_height, line_type)
        VALUES (#{lineId}, #{projectId}, #{startX}, #{startY}, #{startZ},
                #{endX}, #{endY}, #{endZ}, #{color}, #{lineWidth},
                #{pointsJson,jdbcType=VARCHAR}, #{closed}, #{shapeHeight},
                #{lineType,jdbcType=VARCHAR})
    </insert>

    <insert id="insertLinesBatch">
        INSERT INTO bim_line (line_id, project_id, start_x, start_y, start_z,
                               end_x, end_y, end_z, color, line_width,
                               points_json, closed, shape_height, line_type)
        VALUES
        <foreach collection="list" item="l" separator=",">
            (#{l.lineId}, #{l.projectId}, #{l.startX}, #{l.startY}, #{l.startZ},
             #{l.endX}, #{l.endY}, #{l.endZ}, #{l.color}, #{l.lineWidth},
             #{l.pointsJson,jdbcType=VARCHAR}, #{l.closed}, #{l.shapeHeight},
             #{l.lineType,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <update id="updateLine" parameterType="map">
        UPDATE bim_line
        SET start_x      = #{startX},
            start_y      = #{startY},
            start_z      = #{startZ},
            end_x        = #{endX},
            end_y        = #{endY},
            end_z        = #{endZ},
            color        = #{color},
            line_width   = #{lineWidth},
            points_json  = #{pointsJson,jdbcType=VARCHAR},
            closed       = #{closed},
            shape_height = #{shapeHeight},
            line_type    = #{lineType,jdbcType=VARCHAR}
        WHERE line_id = #{lineId}
    </update>

    <delete id="deleteLine" parameterType="string">
        DELETE FROM bim_line WHERE line_id = #{lineId}
    </delete>

    <delete id="deleteLinesByProject" parameterType="string">
        DELETE FROM bim_line WHERE project_id = #{projectId}
    </delete>

    <insert id="insertProject" parameterType="map">
        INSERT INTO bim_project (project_id, project_name, structure_type)
        VALUES (#{projectId}, #{projectName}, #{structureType})
        ON CONFLICT (project_id) DO NOTHING
    </insert>

    <select id="getAllProjects" resultType="map">
        SELECT project_id     AS "projectId",
               project_name   AS "projectName",
               structure_type AS "structureType",
               span_count     AS "spanCount"
        FROM bim_project
        ORDER BY project_name ASC
    </select>

    <update id="updateProjectName" parameterType="map">
        UPDATE bim_project
        SET project_name = #{projectName}
        WHERE project_id = #{projectId}
    </update>

    <select id="getProjectById" parameterType="string" resultType="map">
        SELECT project_id     AS "projectId",
               project_name   AS "projectName",
               structure_type AS "structureType",
               span_count     AS "spanCount"
        FROM bim_project
        WHERE project_id = #{projectId}
    </select>

    <select id="getElementStatsByProject" parameterType="string" resultType="map">
        SELECT element_type AS "elementType",
               COUNT(*)     AS "elementCount"
        FROM bim_element
        WHERE project_id = #{projectId}
        GROUP BY element_type
        ORDER BY 2 DESC
    </select>

    <select id="getElementsByProject" parameterType="string" resultType="map">
        SELECT element_id   AS "elementId",
               element_type AS "elementType",
               material,
               position_x   AS "positionX",
               position_y   AS "positionY",
               position_z   AS "positionZ",
               size_x       AS "sizeX",
               size_y       AS "sizeY",
               size_z       AS "sizeZ",
               rotation_x   AS "rotationX",
               rotation_y   AS "rotationY",
               rotation_z   AS "rotationZ"
        FROM bim_element
        WHERE project_id = #{projectId}
        ORDER BY element_type, element_id
    </select>

</mapper>
